.basketContainer {
  display: grid;
  grid-template-columns: 24px auto;
  justify-content: center;
  align-content: center;
  grid-gap: 5px;
  cursor: default;
}

.basketContainer span {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
}

.empty {
  background-color: white;
}

.notEmpty {
  background-color: green;
  cursor: pointer;
}

@media (max-width: 640px) {
  .busketContainer span {
    display: none;
  }
}
