.cards {
  display: block;
  min-width: 343px;
  height: 264px;
  background-color: aqua;
  border-radius: 12px;
  box-shadow: 0 0 0 0 rgba(227, 228, 230, 0);
  cursor: pointer;
  transition: all 0.2s ease;
}

.cards:hover {
  transform: translateY(-4px);
  box-shadow: 0px 7px 19px -1px rgba(172, 172, 179, 0.3);
}
