.headerWrapper {
  width: 100%;
  height: 74px;
}

.header {
  height: 72px;
  background-color: #fff;
  padding-bottom: 1px;
  box-sizing: border-box;
}

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 110;
  height: 72px;

  display: grid;
  grid-template-columns: minmax(128px, 1fr) 3fr repeat(3, minmax(auto, 178px));
}

.logoWrap {
  display: grid;
  justify-content: center;
}

.filtersContainer {
  background-color: peru;
}

.seachContainer {
  background-color: aqua;
}

.buttonContainer {
  background-color: beige;
}

.buscketContainer {
  background-color: rgb(139, 139, 59);
}
