.filtersContainer {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}

.itemContainer {
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;

  background-color: #f6f6f6;
  cursor: pointer;
  padding: 12px 16px;
}

.itemContainer:hover {
  background-color: #ecedf0;
}

@media (max-width: 1024px) {
  .filtersContainer {
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: max-content;
  }
}
