.filtersContainer {
  width: 100%;
  height: 100%;
  border-left: 1px solid #e3e4e6;
  border-right: 1px solid #e3e4e6;
  padding: 0 32px;
  display: grid;
  grid-template-columns: 24px minmax(120px, 1fr);
  grid-gap: 10px;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

.openInput {
  padding: 0;
  cursor: auto;
}

.geoContainer {
  min-width: 24px;
  height: 50%;

  place-self: center;
  align-items: center;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
}

.addresContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 120px;
  height: 50%;
  place-self: center start;
  font-weight: 100;
  overflow: hidden;
}

.searchWrap {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 72px;

  border-left: 1px solid #e3e4e6;
  border-right: 1px solid #e3e4e6;
  border-bottom: 1px solid #e3e4e6;
  background-color: white;

  z-index: 2000;

  display: grid;
  grid-template-columns: 100px minmax(120px, 1fr) 100px;
  justify-content: space-around;
  align-content: center;
}

.inputContainer {
  width: 100%;
  height: 50px;
}

.inputContainer input {
  width: 100%;
  height: 50px;
  border-style: none;
  outline: none;
}

.listWrap {
  width: calc(100% - 525px);
  height: auto;
  border-left: 1px solid #e3e4e6;
  border-right: 1px solid #e3e4e6;
  border-bottom: 1px solid #e3e4e6;
  z-index: 2000;
  position: fixed;
  top: 72px;
  left: 168px;
  z-index: 3000;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.listWrap p {
  display: block;
  width: 100%;
  padding: 0 100px;
}

.backLayer {
  width: 100%;
  height: 100%;

  position: fixed;
  top: 72px;
  left: 0;
  z-index: 2000;

  background-color: grey;
}

@media (max-width: 768px) {
  .searchWrap {
    width: 100%;
  }

  .listWrap {
    width: 359px;
  }
}

@media (max-width: 640px) {
  .filtersContainer {
    grid-template-columns: auto;
    border: none;
    padding: 0;
  }

  .geoContainer {
    display: none;
  }

  .addresContainer {
    width: 100%;
    height: 50px;
    justify-content: flex-start;
    padding-left: 16px;
    border-radius: 12px;
    background-color: #f6f6f6;
  }

  .searchWrap {
    width: 100%;
    position: fixed;
    left: 0;
  }

  .listWrap {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
  }
}
