.mainContainer {
  width: 100%;
  padding: 0 72px;
  display: grid;
  grid-template-rows: repeat(2, auto);
}

.wrap {
  width: 100%;
  padding: 10px 72px;
}

.wrap:hover .buttonWrap {
  display: block;
}

.container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding-top: 10px;
  scroll-padding: 72px;
  -webkit-overflow-scrolling: touch;
}

.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.buttonWrap {
  display: none;
  position: fixed;
  top: 143px;
  margin-top: -28px;
  z-index: 2000;
  width: 56px;
  height: 56px;
  border-style: none;
  border-radius: 28px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  cursor: pointer;

  margin: auto;
}

.right {
  right: 44px;
}

.left {
  left: 44px;
}
