.wrap {
  width: 168px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.iconWrap {
  width: 40px;
}

.textWrap {
  width: 80px;
  display: inline-block;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1024px) {
  .wrap {
    width: 40px;
    height: 40px;
    margin: 16px;
  }
  .textWrap {
    display: none;
  }
}
